TagName=stage32
ThenStageName=stage33.stage
ElseStageName=stage25.stage
GroupNum=1
GroupIndex=1
GroupLogic=0
ConditionNum=1
ConditionType=1
GoodyName=Goody1
GoodyMethod=0
Threshold=0
CompareMethod=4
Logic=0